# check out https://ghostty.org/docs/config

theme = light:Rose Pine Dawn,dark:Rose Pine Moon
foreground = #ffffd7

background = #000000
background-image = "[path to your background image]"
background-image-fit = cover
background-image-repeat = false
background-image-opacity = 1

font-family = "JetBrainsMono Nerd Font"

cursor-color = #FF8A95
cursor-style = block
shell-integration-features = no-cursor
cursor-text = #000000
